[submodule "src/lidar1/YDLidar-SDK"]
	path = src/lidar1/YDLidar-SDK
	url = git@github.com:wintera1233/YDLidar-SDK.git
[submodule "src/lidar1/ydlidar_ros_driver"]
	path = src/lidar1/ydlidar_ros_driver
	url = git@github.com:YDLIDAR/ydlidar_ros_driver.git
[submodule "src/navigation_msgs"]
	path = src/navigation_msgs
	url = https://github.com/ros-planning/navigation_msgs.git
