<launch>
    <!-- Run the map server --> 
    <arg name="map" default="tutle_map.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(find tb3_navigation)/map/$(arg map)"/>

    <!--- Run AMCL --> 
    <include file="$(find tb3_navigation)/launch/amcl.launch" />

    <node pkg="rviz" type="rviz" name="rviz" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
</launch>