<launch>    
    <param name="begin_state" type="int" value="1" />
    <param name="reset_state" type="int" value="2" />

    <node name="mainScript" pkg="race" type="mainScript" output="screen" respawn="false" respawn_delay="1" />
        <param name="rad_p_control_0" type="double" value="0.1745329252" />
        <param name="rad_p_control_1" type="double" value="0.5235988" />
        <param name="rad_p_control_2" type="double" value="1.0471976" />
        <param name="rad_p_control_3" type="double" value="1.57079632679" />
        <param name="omega_p_control_0" type="double" value="0.087266462599716" />
        <param name="omega_p_control_1" type="double" value="0.174532925199433" />
        <param name="omega_p_control_2" type="double" value="0.349065850398866" />
        <param name="omega_p_control_3" type="double" value="0.523598775598299" />
        <param name="distance_p_control_0" type="double" value="0.05" />
        <param name="distance_p_control_1" type="double" value="0.1" />
        <param name="distance_p_control_2" type="double" value="0.25" />
        <param name="distance_p_control_3" type="double" value="0.5" />
        <param name="velocity_p_control_0" type="double" value="0.03" />
        <param name="velocity_p_control_1" type="double" value="0.08" />
        <param name="velocity_p_control_2" type="double" value="0.14" />
        <param name="velocity_p_control_3" type="double" value="0.13" />
        <param name="velocity_p_control_4" type="double" value="0.26" />
        <!-- <param name="g_h_min" type="int" value="60" />
        <param name="g_h_max" type="int" value="80" />
        <param name="g_s_min" type="int" value="175" />
        <param name="g_s_max" type="int" value="220" />
        <param name="g_v_min" type="int" value="110" />
        <param name="g_v_max" type="int" value="160" /> -->
        <!-- <param name="g_h_min" type="int" value="67" />
        <param name="g_h_max" type="int" value="107" />
        <param name="g_s_min" type="int" value="127" />
        <param name="g_s_max" type="int" value="255" />
        <param name="g_v_min" type="int" value="102" />
        <param name="g_v_max" type="int" value="255" /> -->
        <param name="g_h_min" type="int" value="80" />
        <param name="g_h_max" type="int" value="100" />
        <param name="g_s_min" type="int" value="120" />
        <param name="g_s_max" type="int" value="140" />
        <param name="g_v_min" type="int" value="105" />
        <param name="g_v_max" type="int" value="120" />
    <node name="reset" pkg="race" type="reset" output="screen" respawn="true" respawn_delay="3"/>

    <!-- <node name="serial_server" pkg="rosserial_server" type="serial_node" output="screen" respawn="true" respawn_delay="3">
        <param name="port" value="/dev/ttyUSB0" />
        <param name="baud" value="115200" />
        
        <rosparam>
            require:
                publishers: [ wheel_fromSTM, reset_fromSTM, scaraflag_fromSTM ]
                subscribers: [ wheel_toSTM, intake_toSTM, scara_toSTM ]
        </rosparam> 
    </node> -->

</launch>