<launch>    
    <param name="reset_state" type="int" value="6" />
    <param name="begin_state" type="int" value="6" />
    
    <node name="run" pkg="race" type="run" output="screen" respawn="false" respawn_delay="1" />
        <param name="percentage1" type="float" value="0.7" />
    <node name="reset" pkg="race" type="reset" output="screen" respawn="true" respawn_delay="3"/>

    <!-- <node name="serial_server" pkg="rosserial_server" type="serial_node" output="screen" respawn="true" respawn_delay="3">
        <param name="port" value="/dev/ttyUSB0" />
        <param name="baud" value="115200" />
        
        <rosparam>
            require:
                publishers: [ wheel_fromSTM, reset_fromSTM, scaraflag_fromSTM ]
                subscribers: [ wheel_toSTM, intake_toSTM, scara_toSTM ]
        </rosparam> 
    </node> -->

</launch>