<launch>

    <!-- Launch your node -->
    <node name="odom" pkg="race" type="odom_node" output="screen">
        <!-- TODO-4 : load yaml file into the node -->
        <!-- Hint : rosparam, load, launch -->
        <rosparam file="$(find race)/config/odom_params.yaml" />
    </node>
    
    <!-- Launch gazebo simulation -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">

        <!-- TODO-2 : load your own world -->
        <arg name="world_name" value="$(find race)/world/sim.world"/>
        
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
    </include>

    <!-- Load Robot into gazebo -->
    <!-- No need to understand, just launch it -->
    <param name="descriptions" command="$(find xacro)/xacro --inorder $(find race)/urdf/robot_simulation.urdf.xacro"/>
    <node pkg="gazebo_ros" type="spawn_model" name="robot_simulation" 
          args="-urdf -model turtlebot3_burger -x 0.0 -y 0.0 -z 0.0 -param descriptions" />

    <!-- Static transform -->
    <!-- TODO-1 : add lidar and imu frame -->
    <node name="odom_to_base_footprint" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 odom base_footprint"/>
    <node name="base_footprint_to_scan" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 base_footprint base_scan"/>
    <node name="imu_link_to_scan" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 base_footprint imu_link"/>

    <!-- RViz -->
    <node name="rviz" type="rviz" pkg="rviz" args="-d $(find race)/rviz/sim.rviz"/>

</launch>
