<launch>    
    <param name="reset_state" type="int" value="1" />
    <param name="test_phase" type="int" value="3" />
    
    <node name="testing" pkg="race" type="testing" output="screen"  required="true"/>

    <node name="reset" pkg="race" type="reset" output="screen" respawn="true" respawn_delay="3"/>

    <!-- <node name="serial_server" pkg="rosserial_server" type="serial_node" output="screen" respawn="true" respawn_delay="3">
        <param name="port" value="/dev/ttyUSB0" />
        <param name="baud" value="115200" />
        
        <rosparam>
            require:
                publishers: [ mecanum_fromSTM, reset_fromSTM, scaraflag_fromSTM ]
                subscribers: [ mecanum_toSTM, intake_toSTM, scara_toSTM ]
        </rosparam> 
    </node> -->

</launch>